<md-toolbar color="primary" id="questions" [@flyInOut]="'in'">
    <span>MyCompany</span>
    <span class="example-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
  </md-toolbar>
  <md-menu #appMenu="mdMenu">
  	<a [routerLink]="['/questions']"><button md-menu-item> Questions </button></a>
  	<a [routerLink]="['/hello']"><button md-menu-item> Hello </button></a>
  	<a [routerLink]="['/table']"><button md-menu-item> Table </button></a>
  	<a [routerLink]="['/list_prophylactic']"><button md-menu-item> List prophylactic </button></a>
  	<a [routerLink]="['/z_dialog']"><button md-menu-item> Z_dialog </button></a>
  </md-menu>