<mat-card [@flyInOut]="'in'">
<sidenav-upload-data-component #var_sidenav_uploaddata (progress_bar_emit)="handleProgressUpdated($event)"></sidenav-upload-data-component>

<mat-sidenav-container class="example-container">
<mat-toolbar  id="questions" [@flyInOut]="'in'">
  <span><mat-icon>medic</mat-icon></span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon mat-36>menu</mat-icon></button>

  <div class="mask pseudo" style="position: static;"><a href="#"><img [src]="LOGO"  /></a></div>
  <svg height="0">
    <!-- the filter to make the image white -->
    <filter id="filter">
      <feFlood flood-color="white" />
      <feComposite in2="SourceAlpha" operator="in"/>
    </filter>
  </svg>
</mat-toolbar>
</mat-sidenav-container>

<!--ГЛАВНОЕ МЕНЮ-->
<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/']">{{_menu_main_page}}</button><!--главная страница-->
  <button mat-menu-item [matMenuTriggerFor]="invertebrates">{{_menu_report_page}}</button><!--отчеты-->
  <button mat-menu-item [routerLink]="['/list_prophylactic']">{{list_insur_menu}}</button><!--списки застрахованных-->
  <button mat-menu-item [routerLink]="['/list_header_inform']">{{list_inform_header}}</button><!--Списки для информирования-->
  <button mat-menu-item  [matMenuTriggerFor]="menu_sp3">{{ _sp3_menu }}</button><!--Страховой представитель 3-->
  <!--TODO сделать возможность администратору выкладывать контент. Кнопка и компонет уже созданы. Нужно доработать-->
  <!--<button mat-menu-item  [matMenuTriggerFor]="admin_list_opt">{{_menu_admin}}</button>--><!--Администрирование-->
  <button mat-menu-item (click)="var_sidenav_uploaddata.open(); var_sidenav_uploaddata.init()">{{_uploadfile}}</button>
  <button mat-menu-item [routerLink]="['/login']">{{exit_app}}</button><!--Выйти из приложения-->
</mat-menu>

<!--ПОДМЕНЮ ОТЧЁТЫ-->
<mat-menu #invertebrates="matMenu">
  <button mat-menu-item [routerLink]="['/statistics-inform/reports']">{{statistics_inform_header}}</button><!--Статистика информирования-->
  <button mat-menu-item [routerLink]="['/statistics-assent/reports']">{{statistics_assent_header}}</button><!--Статистика согласий-->
  <!--TODO сделать компонент телефонных опросов-->
  <button mat-menu-item [routerLink]="['/telephone-surveys']">{{telephone_surveys}}</button><!--Телефонные опросы-->
</mat-menu>

<!--ПОДМЕНЮ АДМИНИСТРИРОВАНИЕ-->
<mat-menu #admin_list_opt="matMenu">
  <button mat-menu-item [routerLink]="['/admin_cms']">{{_menu_admin_inform_allyear}}</button><!--Сформировать информирование за текущий год (п.211 правил)-->
</mat-menu>

<!--ПОДМЕНЮ СТРАХОВОЙ ПРЕДСТАВИТЕЛЬ 3-->
<mat-menu #menu_sp3="matMenu">
  <button mat-menu-item  [routerLink]="['/sp3/expertise']">{{ _sp3_menu_expertisa }}</button><!--Экспертиза-->
  <button mat-menu-item  [routerLink]="['/sp3/info-d-reestr']">{{ _sp3_menu_d_reestr }}</button><!--Информирование ЗЛ, стоящих на Д-учете-->
</mat-menu>
</mat-card>
