.warning{
  background: lightcoral;
}


mat-dialog-actions{
  float: right;
  padding-top: 0;
}

table{
  padding: 0;
  width: 100%;
  border: black 1px inset;
  margin: 0;
}

/deep/.mat-toolbar{
  height:20%;
  background: #9ebfab;
  /*background: #9ebfab;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  flex-direction: column;
  align-items: baseline;*/
}


/deep/ .mat-dialog-container {
  padding: 0;
  border-radius: 10px;
}


mat-card-content{
  padding: 0;

}

mat-card{
  padding: 0;
}


mat-toolbar-row{
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  padding-right: 40px;
}

.no_info{
  width: 100%;
  padding-top: 150px;
  height: 300px;
  text-align: center;
}

.no_info_label{
  vertical-align: middle;
  align: center;
  font-size: 20px;
}

td{
  text-align: center;
}
