<mat-sidenav #sidenavSearchKeys  class="nav_header">
  <mat-card class="example-card">
    <form [formGroup]="myForm" novalidate (ngSubmit)="searchPersonZnoKeys(myForm);resetForm();sidenavSearchKeys.close()">
      <mat-card-title>
        <mat-toolbar color="primary" class="mat-elevation-z10">
          {{_searchKEYS}}
        </mat-toolbar>
      </mat-card-title>
      <mat-card style="box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0),0 1px 5px 0 rgba(0, 0, 0, 0);">

        <mat-card-content>
          <!--
            <div  style="float:left; margin-bottom:10px;" formGroupName="age" >
              <h4 class="example-h2">{{_age}}</h4>
              <section class="example-section">
                <mat-checkbox style="margin-bottom: 8%;" class="example-margin"  formControlName="mansAge" >{{_sexmans}}</mat-checkbox>
                <mat-input-container class="example-margin"   *ngIf="myForm.value.age.mansAge">
                  <input  matInput type="number"  placeholder="{{_ex}}"  formControlName="manAgemin" >
                </mat-input-container >
                <mat-input-container class="example-margin"  *ngIf="myForm.value.age.mansAge">
                  <input matInput type="number" placeholder="{{_through}}"  formControlName="manAgemax" >
                </mat-input-container>

              </section>
              <section class="example-section">
                <mat-checkbox style="margin-bottom: 8%;" class="example-margin"  formControlName="maleAge" >{{_sexmale}}</mat-checkbox>

                <mat-input-container class="example-margin"   *ngIf="myForm.value.age.maleAge">
                  <input  matInput type="number" placeholder="{{_ex}}"  formControlName="maleAgemin" >
                </mat-input-container >
                <mat-input-container class="example-margin"  *ngIf="myForm.value.age.maleAge">
                  <input matInput type="number" placeholder="{{_through}}"  formControlName="maleAgemax" >
                </mat-input-container>
              </section>
            </div>
          <mat-divider></mat-divider>-->
          <section class="example-section"  *ngIf="currentUser['role'][0].id === 777">
            <mat-checkbox class="example-margin"  formControlName='simaz' >{{_linksmo_1}}</mat-checkbox>
            <mat-checkbox class="example-margin"  formControlName='vtb' >{{_linksmo_2}}</mat-checkbox>
            <mat-checkbox class="example-margin"  formControlName='ingos' >{{_linksmo_4}}</mat-checkbox>
          </section>
          <!--<section class="example-section">
            <mat-checkbox class="example-margin"  formControlName='exportExcel'  >{{_exportExcel}}</mat-checkbox>
          </section>-->
          <section class="example-section">
            <mat-input-container class="example-margin">
              <input  matInput type="number"   placeholder="{{_causenotes}}"  formControlName="count_notes" >
              <mat-error>{{field_is_required}}</mat-error>
            </mat-input-container >
          </section>
        </mat-card-content>
        <mat-card-actions id='lastblocksearch'>
          <button type='submit' mat-raised-button color='primary'[disabled]="!myForm.valid">Ok</button>
          <button type='button' mat-raised-button color='primary' (click)="resetForm()">{{reset}}</button>
          <button type='button' mat-raised-button color='warn' (click)="sidenavSearchKeys.close()">{{cancel}}</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-card>


</mat-sidenav>
