<mat-sidenav #sidenav_upload_data  class="nav_header">

  <!--синяя верхушка с крестиком-->
  <mat-toolbar color="primary" class="mat-elevation-z10">
    <mat-icon>folder</mat-icon>
    <mat-icon style="right: 2%; position: absolute; cursor: pointer;" mat-list-icon (click)="sidenav_upload_data.close()">close</mat-icon>
  </mat-toolbar>

  <!--серое пространство, куда закидываются файлы-->
  <mat-progress-bar  *ngIf="progress_bar_upload"  mode="query" color="warn" ></mat-progress-bar>
  <br>
  <br>
  <div class="dropzone" appDnd (filesChangeEmiter)="onFilesChange($event)" (filesInvalidEmiter)="onFileInvalids($event)" [allowed_extensions]="['xlsx']" >
    <div class="text-wrapper">
      <div class="centered">{{ _drop }}</div><div class="warntext2">&#9759;</div>
      <span class="warntext"><div class="centered">  после перемещения файла дождитесь отчёт по загрузке <br> он будет в формате *.txt <br> ПРОЧТИТЕ ЕГО</div></span>
    </div>
  </div>

  <!--надпись "Пул загруженных данных и протоколов загрузки"-->
  <div class="centered">{{_pull}}<hr></div>

  <mat-nav-list>

    <!--отображение загруженных файлов-->
    <div *ngIf="listUploadedFiles.length > 0 ; else other_content" >
      <a mat-list-item *ngFor="let row of listUploadedFiles"  (click)="downloadExcel(row.namefile)">
        <mat-icon mat-list-icon>tab</mat-icon>
        <span mat-line>{{row.namefile}}</span>
        <span mat-line class="demo-secondary-text"> Description </span>
      </a>
    </div>

    <ng-template #other_content>
      <div *ngIf="flag; else date_note"><h1><mat-spinner style="margin:auto; margin-top:50px;"></mat-spinner></h1></div>
      <ng-template #date_note><mat-error><h3>{{data_not_found}}</h3></mat-error></ng-template><!--данные не найдены-->
    </ng-template>

  </mat-nav-list>

</mat-sidenav>
