<mat-toolbar>
  <mat-toolbar-row>
    <mat-label>Просмотр истории за {{days}} суток.</mat-label>
    <mat-dialog-actions>
      <button mat-icon-button color="accent" mat-dialog-close matTooltip="Закрыть"  style="width: 45px; height: 45px;"><mat-icon style="font-size: 45px">clear</mat-icon></button>
    </mat-dialog-actions>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-label style="float: left" for="days">Изменить период:</mat-label>
    <input name="days" matInput type="number" style="width: 100px; float: left;" placeholder="Количество дней" min="0" max="99999" [(ngModel)]="days">
    <button mat-icon-button color="warn" style="float: left; width: 45px; height: 45px;" matTooltip="Обновить текущую вкладку" (click)="refresh()" ><mat-icon style="font-size: 45px">refresh</mat-icon></button>
    <!--<button mat-icon-button color="accent" style="float: right" matTooltip="Скачать таблицу в формате эксель." (click)="export()"><mat-icon style="font-size: 50px">create_new_folder</mat-icon></button>-->
    <a (click)="export()" style="float: right; padding: 0;" matTooltip="Скачать таблицу в формате эксель." ><img src="assets/images/excel_icon.png" ></a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs color="primary" (selectedTabChange)="check($event)">
  <mat-tab id="history_update" label="История изменения" name="Изменение">
    <mat-card>
      <mat-card-content>
        <div mat-dialog-content #history1 *ngIf="dataShow.length > 0; else nohistory1">
          <table cellspacing="0">
            <tr>
              <th>
                Дата изменения
              </th>
              <th>
                {{lpuId}}
              </th>
              <th>
                {{kodOtd}}
              </th>
              <th>
                {{address}}
              </th>
              <th>
                {{phone}}
              </th>
              <th>
                {{typeMo}}
              </th>
              <th>
                {{otkProf}}
              </th>
              <th>
                {{prim}}
              </th>
              <th>
                Понедельник
              </th>
              <th>
                Вторник
              </th>
              <th>
                Среда
              </th>
              <th>
                Четверг
              </th>
              <th>
                Пятница
              </th>
              <th>
                Суббота
              </th>
              <th>
                Воскресенье
              </th>
            </tr>
            <tr *ngFor="let row of dataShow">
              <td>
                {{row.dateInsert}}
              </td>
              <td>
                {{row.lpuId}}
              </td>
              <td [ngClass] = "{warning:row.kodOtd !=null ? row.kodOtd.includes('->') : false}">
                {{row.otdId}}
              </td>
              <td [ngClass] = "{warning:row.address != null ? row.address.includes('->') : false}">
                {{row.address}}
              </td>
              <td [ngClass] = "{warning:row.phone != null ? row.phone.includes('->') : false}">
                {{row.phone}}
              </td>
              <td [ngClass] = "{warning:row.typeMo != null ? row.typeMo.includes('->') : false}">
                {{row.typeMo}}
              </td>
              <td [ngClass] = "{warning:row.otkProf != null ? row.otkProf.includes('->') : false}">
                {{row.prof}}
              </td>
              <td [ngClass] = "{warning:row.prim != null ? row.prim.includes('->') : false}">
                {{row.prim}}
              </td>
              <td *ngFor="let day of row.dates" [ngClass] = "{warning: day.dy == '1' ? (day.timeBegin ? day.timeBegin.includes('->') : false) || (day.timeEnd ? day.timeEnd.includes('->') :false) : false}">
                {{day.dy == '1' ? ((day.timeBegin ?'c ' + day.timeBegin : '') +  (day.timeEnd ? ' до ' + day.timeEnd : '') ) : '-'}}
              </td>
            </tr>
          </table>
        </div>
        <ng-template #nohistory1>
          <div  class="no_info">
            <mat-label class="no_info_label">В выбранном периоде записи не обновлялись.<mat-icon>done</mat-icon></mat-label>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab id="history_insert" label="История добавления">
    <mat-card>
      <mat-card-content>
        <div mat-dialog-content #history2  *ngIf="dataShowInsert.length > 0; else nohistory2">
          <table cellspacing="0">
            <tr>
              <th>
                Дата добавления
              </th>
              <th>
                {{lpuId}}
              </th>
              <th>
                {{kodOtd}}
              </th>
              <th>
                {{address}}
              </th>
              <th>
                {{phone}}
              </th>
              <th>
                {{typeMo}}
              </th>
              <th>
                {{otkProf}}
              </th>
              <th>
                {{prim}}
              </th>
              <th>
                Понедельник
              </th>
              <th>
                Вторник
              </th>
              <th>
                Среда
              </th>
              <th>
                Четверг
              </th>
              <th>
                Пятница
              </th>
              <th>
                Суббота
              </th>
              <th>
                Воскресенье
              </th>
            </tr>
            <tr *ngFor="let row of dataShowInsert">
              <td>
                {{row.dateInsert}}
              </td>
              <td>
                {{row.lpuId}}
              </td>
              <td>
                {{row.otdId}}
              </td>
              <td>
                {{row.address}}
              </td>
              <td>
                {{row.phone}}
              </td>
              <td>
                {{row.typeMo}}
              </td>
              <td>
                {{row.prof}}
              </td>
              <td>
                {{row.prim}}
              </td>
              <td *ngFor="let day of row.dates">
                {{day.dy == '1' ? ((day.timeBegin ?'c ' + day.timeBegin : '') +  (day.timeEnd ? ' до ' + day.timeEnd : '') ) : '-'}}
              </td>
            </tr>
          </table>
        </div>
        <ng-template #nohistory2>
          <div class="no_info">
            <mat-label class="no_info_label">В выбранном периоде записи не добавлялись.<mat-icon>done</mat-icon></mat-label>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab id="history_delete" label="История удаления">
    <mat-card>
      <mat-card-content>
        <div mat-dialog-content #history3  *ngIf="dataShowDelete.length > 0; else nohistory3">
          <table cellspacing="0">
            <tr>
              <th>
                Дата удаления
              </th>
              <th>
                {{lpuId}}
              </th>
              <th>
                {{kodOtd}}
              </th>
              <th>
                {{address}}
              </th>
              <th>
                {{phone}}
              </th>
              <th>
                {{typeMo}}
              </th>
              <th>
                {{otkProf}}
              </th>
              <th>
                {{prim}}
              </th>
              <th>
                Понедельник
              </th>
              <th>
                Вторник
              </th>
              <th>
                Среда
              </th>
              <th>
                Четверг
              </th>
              <th>
                Пятница
              </th>
              <th>
                Суббота
              </th>
              <th>
                Воскресенье
              </th>
            </tr>
            <tr *ngFor="let row of dataShowDelete">
              <td>
                {{row.dateInsert}}
              </td>
              <td>
                {{row.lpuId}}
              </td>
              <td>
                {{row.otdId}}
              </td>
              <td>
                {{row.address}}
              </td>
              <td>
                {{row.phone}}
              </td>
              <td>
                {{row.typeMo}}
              </td>
              <td>
                {{row.prof}}
              </td>
              <td>
                {{row.prim}}
              </td>
              <td *ngFor="let day of row.dates">
                {{day.dy == '1' ? ((day.timeBegin ?'c ' + day.timeBegin : '') +  (day.timeEnd ? ' до ' + day.timeEnd : '') ) : '-'}}
              </td>
            </tr>
          </table>
        </div>
        <ng-template #nohistory3>
          <div  class="no_info">
            <mat-label class="no_info_label">В выбранном периоде записи не удалялись.<mat-icon>done</mat-icon></mat-label>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
