<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
</head>
<div class="app-content">
  <div class="group">

    <form name="form"  (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate><br>
      <mat-toolbar color="warn" class="mat-elevation-z10">АВТОРИЗАЦИЯ</mat-toolbar><br>
      <mat-input-container>
        <input  matInput type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required >
        <mat-error *ngIf="f.submitted && !username.valid">Username is required</mat-error>
        <mat-placeholder>Имя пользователя</mat-placeholder>
      </mat-input-container><br><br>
      <mat-input-container>
        <input   matInput type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required >
        <mat-error *ngIf="f.submitted && !password.valid" class="help-block">Password is required</mat-error>
        <mat-placeholder >
          <i class="material-icons app-input-icon">lock_open</i>Пароль
        </mat-placeholder>
      </mat-input-container><br><br>
      <button mat-raised-button color="warn" type="submit" name="action">ВОЙТИ</button><br><br>
      <!-- <span id="err"><small>{{errorMsg}}</small></span>
      <mat-slide-toggle color="primary"><small>Remember me!</small></mat-slide-toggle> -->
    </form >
  </div>
</div>





<!-- <div class="col-mat-6 col-mat-offset-3">
   <h2>Login</h2>
   <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
       <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
           <label for="username">Username</label>
           <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
           <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
       </div>
       <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
           <label for="password">Password</label>
           <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
           <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
       </div>
       <div class="form-group">
           <button [disabled]="loading" class="btn btn-primary">Login</button>
           <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmatsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
           <a [routerLink]="['/register']" class="btn btn-link">Register</a>
       </div>
   </form>
</div>
 -->
