<mat-sidenav #sidenavSearchKeys  class="nav_header">
	<mat-card class="example-card">
		<form [formGroup]="myForm" novalidate (ngSubmit)="searchPersonKeys(myForm);resetForm();sidenavSearchKeys.close()">
		<mat-card-title>
			<mat-toolbar color="primary" class="mat-elevation-z10">
	      		{{_searchKEYS}}
	    	</mat-toolbar>
		</mat-card-title>
		<mat-card style="box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0),0 1px 5px 0 rgba(0, 0, 0, 0);">
			<mat-card-header>
      			<mat-card-title>
      				<!-- Some text for careFull clinic of Novosibirsk TFOMS -->
	  			</mat-card-title>
  			</mat-card-header>
  			
  			<mat-card-content>
  			
  			<div>
  			<div  style="float:left; margin-bottom:10px;" formGroupName="age" >
  				<h4 class="example-h2">{{_age}}</h4>
  				<section class="example-section">
	      			<mat-checkbox style="margin-bottom: 8%;" class="example-margin"  formControlName="mansAge" >{{_sexmans}}</mat-checkbox>
	      			
	      			<mat-input-container class="example-margin"   *ngIf="myForm.value.age.mansAge">
			        	<input  matInput type="number"  placeholder="{{_ex}}"  formControlName="manAgemin" >
				      </mat-input-container >
				      <mat-input-container class="example-margin"  *ngIf="myForm.value.age.mansAge">
				        <input matInput type="number" placeholder="{{_through}}"  formControlName="manAgemax" >
				      </mat-input-container>
				      
	    		</section>
    		<section class="example-section">
      			<mat-checkbox style="margin-bottom: 8%;" class="example-margin"  formControlName="maleAge" >{{_sexmale}}</mat-checkbox>
      			
      			<mat-input-container class="example-margin"   *ngIf="myForm.value.age.maleAge">
		        	<input  matInput type="number" placeholder="{{_ex}}"  formControlName="maleAgemin" >
			      </mat-input-container >
			      <mat-input-container class="example-margin"  *ngIf="myForm.value.age.maleAge">
			        <input matInput type="number" placeholder="{{_through}}"  formControlName="maleAgemax" >
			      </mat-input-container>
    		</section>
    		</div>
	    		<div style="position:absolute; left:50%;">
	    		<h4 class="example-h2">{{_mo}}</h4>
	    		<section class="example-section">
	    			<mat-select  class='full-width required' placeholder="{{_motype}}"  formControlName="typeMo">
		   				<mat-option *ngFor="let mo of listmo" [value]="mo.id">{{ mo.name }}</mat-option>
		   	  		</mat-select>
		   	  	</section>
		   	  	<br>
		   	  	<mat-checkbox class="example-margin"  formControlName='isTelefon' >{{_withtel}}</mat-checkbox>
		   	  	</div>
    		</div>
    		<!-- <mat-divider></mat-divider> -->
    		<hr>
    		<div >
	    		<h4 class="example-h2">{{_survey}}</h4>
			   	  <section class="example-section">
				   	  		<mat-select   class='full-width required' placeholder="{{_survey_stat}}"  formControlName="survey_stat">
				   				<mat-option [value]="1">{{_nonrespond}}</mat-option>
				   				<mat-option [value]="2">{{_respond}}</mat-option>
				   	  		</mat-select>
			   	  </section>
	   	  </div>
	   	  	   	  <hr>
    		<div>
	   	  <h4 class="example-h2">{{_plandisp}}</h4>
	   	   <section class="example-section">
				   	  		<mat-select   class='full-width required' placeholder="{{_statedisp}}"  formControlName="plan_disp">
				   				<mat-option [value]="1">{{_kv1}}</mat-option>
				   				<mat-option [value]="2">{{_kv2}}</mat-option>
				   				<mat-option [value]="3">{{_kv3}}</mat-option>
				   				<mat-option [value]="4">{{_kv4}}</mat-option>
				   	  		</mat-select>
	   	  </section>
	   	  </div>
	   	  <hr>
    		<div>
	   	  <h4 class="example-h2">{{_inform}}</h4>
	   	  <!-- <section class="example-section">
      			<mat-checkbox class="example-margin"  formControlName="nullstate" >0 state</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="nullmedicalexamination_conducted"  *ngIf="myForm.value.nullstate">Medical examination was conducted</mat-checkbox>
      			<my-date-picker  style="width: 130px; margin-right: 10px;" [placeholder]="firstdate"  name="firstdatenullstate"  [options]="myDatePickerOptions"  formControlName="firstdatenullstate"  *ngIf="myForm.value.nullstate"></my-date-picker>
				<my-date-picker  style="width: 130px; margin-right: 10px;" [placeholder]="seconddate"  name="seconddatenullstate"  [options]="myDatePickerOptions"  formControlName="seconddatenullstate"  *ngIf="myForm.value.nullstate"></my-date-picker>
    		</section> -->
    		<section class="example-section" >
    		<!-- <mat-checkbox class="example-margin"  formControlName="firststate"  *ngIf="!( myForm.value.no_secondstate || myForm.value.no_thridstate || myForm.value.no_firststate)">{{_I}}</mat-checkbox> -->
    		<mat-checkbox class="example-margin"  formControlName="no_firststate"  *ngIf="!(myForm.value.no_secondstate ||myForm.value.firststate || myForm.value.no_thridstate  || myForm.value.thridstate  || myForm.value.secondstate)">{{_infoI}}</mat-checkbox> 
    		</section>
	   	  <!-- <section class="example-section"  *ngIf="myForm.value.firststate" >
      			<mat-checkbox class="example-margin"  formControlName="firstsms"  *ngIf="myForm.value.firststate">{{_sms}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="firsttel"  *ngIf="myForm.value.firststate">{{_telsearchkeys}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="firstemail"  *ngIf="myForm.value.firststate">{{_email}}</mat-checkbox>
    	  </section>
    	  <section class="example-section" *ngIf="myForm.value.firststate">
      			<mat-checkbox class="example-margin"  formControlName="firstmail"  *ngIf="myForm.value.firststate">{{_mail}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="firstpersonal_information"  *ngIf="myForm.value.firststate">{{_personaly}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="firstinforming_inadmissible"  *ngIf="myForm.value.firststate">{{_notfound}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="firstmedicalexamination_conducted"  *ngIf="myForm.value.firststate">{{_doneexamination}}</mat-checkbox>
    		</section>
    		<h6 *ngIf="myForm.value.firststate">{{_periodinf}}</h6>
    		<section class="example-section" *ngIf="myForm.value.firststate">
    						<my-date-picker  style="width: 130px; margin-right: 10px;" [placeholder]="firstdate"  name="firstdatefirststate"  [options]="myDatePickerOptions"  formControlName="firstdatefirststate"  *ngIf="myForm.value.firststate"></my-date-picker>
							<my-date-picker  style="width: 130px; margin-right: 10px;" [placeholder]="seconddate"  name="seconddatefirststate"  [options]="myDatePickerOptions"  formControlName="seconddatefirststate"  *ngIf="myForm.value.firststate"></my-date-picker>
    		</section> -->
    		<hr *ngIf="myForm.value.firststate">
    		<br>
    		<section class="example-section" >
    		<!-- <mat-checkbox class="example-margin"  formControlName="secondstate"  *ngIf="! (myForm.value.no_secondstate || myForm.value.no_firststate  || myForm.value.no_thridstate)">{{_II}}</mat-checkbox> -->
    		<mat-checkbox class="example-margin"  formControlName="no_secondstate"  *ngIf="! (myForm.value.firststate || myForm.value.secondstate || myForm.value.no_firststate  || myForm.value.no_thridstate || myForm.value.thridstate)">{{_infoII}}</mat-checkbox>
    		</section>
    		<!-- <section class="example-section" *ngIf="myForm.value.secondstate">
      			<mat-checkbox class="example-margin"  formControlName="secondsms"  *ngIf="myForm.value.secondstate">{{_sms}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="secondtel"  *ngIf="myForm.value.secondstate">{{_telsearchkeys}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="secondemail"  *ngIf="myForm.value.secondstate">{{_email}}</mat-checkbox>
      		</section>
      		<section class="example-section" *ngIf="myForm.value.secondstate">
      			<mat-checkbox class="example-margin"  formControlName="secondmail"  *ngIf="myForm.value.secondstate">{{_mail}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="secondpersonal_information"  *ngIf="myForm.value.secondstate">{{_personaly}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="secondinforming_inadmissible"  *ngIf="myForm.value.secondstate">{{_notfound}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="secondmedicalexamination_conducted"  *ngIf="myForm.value.secondstate">{{_doneexamination}}</mat-checkbox>
      		</section>
      		<h6 *ngIf="myForm.value.secondstate">{{_periodinf}}</h6>
      		<section class="example-section" *ngIf="myForm.value.secondstate">
				<my-date-picker style="width: 130px; margin-right: 10px;" [placeholder]="firstdate"  name="firstdatesecondstate"  [options]="myDatePickerOptions"  formControlName="firstdatesecondstate"  *ngIf="myForm.value.secondstate" placeholder="{{_ex}}"></my-date-picker>
				<my-date-picker style="width: 130px; margin-right: 10px;" [placeholder]="seconddate"  name="seconddatefirststate"  [options]="myDatePickerOptions"  formControlName="seconddatesecondstate"  *ngIf="myForm.value.secondstate" placeholder="{{_through}}"></my-date-picker>
    		</section> -->
    		<hr *ngIf="myForm.value.secondstate">
    		<br>
    		<section class="example-section" >
    		<!-- <mat-checkbox class="example-margin"  formControlName="thridstate" *ngIf="! (myForm.value.no_secondstate ||myForm.value.no_thridstate || myForm.value.no_firststate)">{{_infoIII}}</mat-checkbox> -->
    		<mat-checkbox class="example-margin"  formControlName="no_thridstate" *ngIf="! (myForm.value.no_secondstate ||myForm.value.firststate || myForm.value.thridstate || myForm.value.no_firststate  || myForm.value.secondstate)">{{_III}}</mat-checkbox>
    		</section>
    		<!-- <section class="example-section"  *ngIf="myForm.value.thridstate">
      			<mat-checkbox class="example-margin"  formControlName="thridsms"  *ngIf="myForm.value.thridstate">{{_sms}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="thridtel"  *ngIf="myForm.value.thridstate">{{_telsearchkeys}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="thridemail"  *ngIf="myForm.value.thridstate">{{_email}}</mat-checkbox>
      		</section>
      		<section class="example-section"  *ngIf="myForm.value.thridstate">	
      			<mat-checkbox class="example-margin"  formControlName="thridmail"  *ngIf="myForm.value.thridstate">{{_mail}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="thridpersonal_information"  *ngIf="myForm.value.thridstate">{{_personaly}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="thridinforming_inadmissible"  *ngIf="myForm.value.thridstate">{{_notfound}}</mat-checkbox>
      			<mat-checkbox class="example-margin"  formControlName="thridmedicalexamination_conducted"  *ngIf="myForm.value.thridstate">Medical examination was conducted</mat-checkbox>
  			</section>
      		<h6 *ngIf="myForm.value.thirdstate">{{_periodinf}}</h6>
      		<section class="example-section" *ngIf="myForm.value.thridstate">
				<my-date-picker style="width: 130px; margin-right: 10px;" [placeholder]="firstdate"  name="firstdatethridstate"  [options]="myDatePickerOptions"  formControlName="firstdatethridstate"  *ngIf="myForm.value.thridstate" placeholder="{{_ex}}"></my-date-picker>
				<my-date-picker style="width: 130px; margin-right: 10px;" [placeholder]="seconddate"  name="seconddatethridstate"  [options]="myDatePickerOptions"  formControlName="seconddatethridstate"  *ngIf="myForm.value.thridstate" placeholder="{{_through}}"></my-date-picker>
    		</section> -->
    		</div>
    		<hr>
    		<div  formGroupName="ger" >
	    		<h4 class="example-h2">{{_dispanser}}</h4>
			   	  <section class="example-section">
				   	  		<mat-select   class='full-width required' placeholder="{{_statedisp}}"  formControlName="pm_result">
				   				<mat-option *ngFor="let rs of pm_resalts" [value]="rs.id">{{ rs.name }}</mat-option>
				   	  		</mat-select>
				   	  	<!-- 	<my-date-picker style="width: 130px; margin-right: 10px; margin-left: 10px;" [placeholder]="firstdate"  name="start_date_etap1_dsp"  [options]="myDatePickerOptions"  formControlName="start_date_etap1_dsp"  *ngIf="myForm.value.ger.pm_result === 1 || myForm.value.ger.pm_result === 2 || myForm.value.ger.pm_result === 3 || myForm.value.ger.pm_result === 5"></my-date-picker>
				   	  		<my-date-picker style="width: 130px; margin-right: 10px;" [placeholder]="seconddate"  name="end_date_etap1_dsp"  [options]="myDatePickerOptions"  formControlName="end_date_etap1_dsp"  *ngIf="myForm.value.ger.pm_result === 2 || myForm.value.ger.pm_result === 5"></my-date-picker> -->
			   	  </section>
	   	  </div>
	   	  <hr>
	   	  		<section class="example-section"  *ngIf="currentUser['role'][0].id === 777">
      				<mat-checkbox class="example-margin"  formControlName='simaz' >{{_linksmo_1}}</mat-checkbox>
      				<mat-checkbox class="example-margin"  formControlName='vtb' >{{_linksmo_2}}</mat-checkbox>
      				<mat-checkbox class="example-margin"  formControlName='ingos' >{{_linksmo_4}}</mat-checkbox>
      			</section>
  				<section class="example-section">
      				<mat-checkbox class="example-margin"  formControlName='exportExcel'  >{{_exportExcel}}</mat-checkbox>
      			</section>
      			<section class="example-section">
      				<mat-input-container class="example-margin">
			        	<input  matInput type="number"   placeholder="{{_causenotes}}"  formControlName="count_notes" >
			        	<mat-error>{{field_is_required}}</mat-error>
				    </mat-input-container >
      			</section>
  			</mat-card-content>
	   	  	<br>
  			<!-- {{ myForm.value | json }} -->
  		
  			<mat-card-actions id='lastblocksearch'>
  				<button type='submit' mat-raised-button color='primary'[disabled]="!myForm.valid">Ok</button>
  				<button type='button' mat-raised-button color='primary' (click)="resetForm()">{{reset}}</button>
  				<button type='button' mat-raised-button color='warn' (click)="sidenavSearchKeys.close()">{{cancel}}</button>
  	 		</mat-card-actions>
  	 	</mat-card>
		</form>
	</mat-card>
	
	
</mat-sidenav>
