<!-- { "personBirthday": "20.07.1986", "personKindfirstname": "ÑÅÐÃÅÉ", "personKindlastname": "ÐÎÌÀÍÎÂÈ×", "personLinksmoestablishmentid": 4, "personSurname": "ÏÛËÛÏÈÂ", "personadd": { "tele2": null, "teledom": "89132053828", "telework": null } } -->

<md-toolbar color="primary">
	    <span>{{title}}</span><br>
	    <md-dialog-actions>
 			<button md-raised-button color="accent" md-dialog-close="Option 1">{{ close_card}}</button>
		</md-dialog-actions> 
</md-toolbar>
<md-tab-group color="primary" (selectChange)="check($event)">

  <md-tab id="tab1" label="{{tab1}}">
  
  <md-card>
  <md-card-content> 
	  <table cellspacing="0">
	  <tr>
	    <td>
		     <md-list-item>
	    	  	<!-- <img md-list-avatar src="app/list-prophylactic/icon/ic_account_box_black_48dp_1x.png" alt="Desc 1"> -->
				<md-input-container>
		      		<input mdInput placeholder="{{surname}}" value="{{data.personSurname}}">
		    	</md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personKindfirstname}}" placeholder="{{firstname}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personKindlastname}}" placeholder="{{lastname}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    </tr>
	    <tr>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.years}}" placeholder="{{t_years}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personBirthday}}" placeholder="{{bithday}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	  	 <td  *ngIf="data.personadd.tele2">
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personadd.tele2}}" placeholder="{{telefon}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td  *ngIf="data.personadd.teledom">
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personadd.teledom}}" placeholder="{{telefon}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td  *ngIf="data.personadd.telework">
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personadd.telework}}" placeholder="{{telefon}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	  </tr>
	  <tr>
		  <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personLinksmoestablishmentid}}" placeholder="{{linksmo}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	 </tr>
	  <tr>
		  <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="540{{data.personEstablishmentambul}}" placeholder="{{PM_HOSPITAL_RESULT}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	 </tr>
	  </table>
	  </md-card-content>
  </md-card>
  
	  
  </md-tab>
  <md-tab  label="{{tab2}}"><div [@toggle]="show" 
        (@toggle.start)="animationStarted($event)"
        (@toggle.done)="animationDone($event)"
     *ngIf="show" ><md-spinner style="margin:auto; margin-top:50px;"></md-spinner></div><div [@toggle]="!show" *ngIf="!show">
     
     <table cellspacing="0">
	  <tr>
	    <td>
		     <md-list-item>
				<md-input-container>
		      		<input mdInput placeholder="{{start_date_etap1}}" value="{{data_ger.start_date_etap1}}">
		    	</md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.end_date_etap1}}" placeholder="{{end_date_etap1}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    </tr>
	    <tr>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.start_date_etap2}}" placeholder="{{start_date_etap2}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.end_date_etap2}}" placeholder="{{end_date_etap2}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	 </tr>
	 <tr>
	 	<td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.ref_id_person}}" placeholder="{{ref_id_person}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.pm_god}}" placeholder="{{pm_god}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.pm_kvartal}}" placeholder="{{pm_kvartal}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	 </tr>
	 <tr>
	 	<td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.tel}}" placeholder="{{tel}}">
			    </md-input-container>
		    </md-list-item>
	 	</td>
	 	<td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.pm_result}}" placeholder="{{pm_result}}">
			    </md-input-container>
		    </md-list-item>
	 	</td>
	 	<td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.pm_HOSPITAL_RESULT}}" placeholder="{{PM_HOSPITAL_RESULT}}">
			    </md-input-container>
		    </md-list-item>
	 	</td>
	 </tr>
	    </table>
	    
		    <md-list-item>
			    <md-input-container class="full-width">
			      <textarea mdInput placeholder="{{adress}}">{{data_ger.adress}}</textarea>
			    </md-input-container>
		    </md-list-item>

     </div>
     </md-tab>
  <md-tab  label="{{tab3}}">
  <div *ngIf="data_informir.length > 0; else other_content" >
  <table>
    <tr>
	    <td>
		     <md-list-item>
				<md-input-container>
		      		<input mdInput placeholder="{{surname}}" value="{{data_informir[0].fam}}">
		    	</md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_informir[0].im}}" placeholder="{{firstname}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_informir[0].ot}}" placeholder="{{lastname}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    </tr>
  </table>
  <table cellspacing="0" *ngFor="let data of data_informir">
	    <tr>
		    <td>
			    <md-list-item>
				    <md-input-container>
				      <input mdInput value="{{data.nStage}}" placeholder="{{nstage}}">
				    </md-input-container>
			    </md-list-item>
		    </td>
		    <td>
			    <md-list-item>
				    <md-input-container>
				      <input mdInput value="{{data.tInfo}}" placeholder="{{tinfo}}">
				    </md-input-container>
			    </md-list-item>
		    </td>
    	    <td>
			    <md-list-item>
				    <md-input-container>
				      <input mdInput value="{{data.dInfo}}" placeholder="{{dinfo}}">
				    </md-input-container>
			    </md-list-item>
		    </td>
	    </tr>
  </table>
  </div>
  <ng-template #other_content>
  	<div *ngIf="flag_informed; else date_note"><h1><md-spinner style="margin:auto; margin-top:50px;"></md-spinner></h1></div>
  	<ng-template #date_note><md-error><h3>{{data_not_found}}</h3></md-error></ng-template>
  </ng-template>
  
  <!-- {{data_informir | json}} -->
  <!-- <h1>{{ data_plan_informir | json}}</h1> -->
  </md-tab>
</md-tab-group>



<!-- <div style="margin-left: 20px;" md-dialog-actions> -->

<!-- </div> -->
