<md-toolbar color="primary">
	    <span>{{title}}</span><br>
	    <md-dialog-actions>
 			<button md-raised-button color="accent" md-dialog-close="Option 1">{{ close_card}}</button>
		</md-dialog-actions> 
</md-toolbar>
<md-tab-group color="primary" (selectChange)="check($event)">

  <md-tab id="tab1" label="{{tab1}}">
  
  <md-card>
  <md-card-content> 
	  <table cellspacing="0">
	  <tr>
	    <td>
		     <md-list-item>
	    	  	<!-- <img md-list-avatar src="app/list-prophylactic/icon/ic_account_box_black_48dp_1x.png" alt="Desc 1"> -->
				<md-input-container>
		      		<input mdInput placeholder="{{surname}}" value="{{data.personSurname}}">
		    	</md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personKindfirstname}}" placeholder="{{firstname}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personKindlastname}}" placeholder="{{lastname}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    </tr>
	    <tr>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.years}}" placeholder="{{t_years}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personBirthday}}" placeholder="{{bithday}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    </tr>
	    <tr *ngIf="data.personadd">
	  	 <td  *ngIf="data.personadd.tele2">
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personadd.tele2}}" placeholder="{{telefon}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td  *ngIf="data.personadd.teledom">
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personadd.teledom}}" placeholder="{{telefon}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td  *ngIf="data.personadd.telework">
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data.personadd.telework}}" placeholder="{{telefon}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	  </tr>
	  <tr>
		  <td>
		    <md-list-item>
			    <md-input-container>
			    
			      <input mdInput value="{{data.personLinksmoestablishmentid === 1 ?  _linksmo_1  : data.personLinksmoestablishmentid  === 2 ?  _linksmo_2  : data.personLinksmoestablishmentid  === 4 ?  _linksmo_4  : _otkreplen}}" placeholder="{{linksmo}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	 </tr>
	  <tr>
		  <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="540{{data.personEstablishmentambul}}" placeholder="{{PM_HOSPITAL_RESULT}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	 </tr>
	  </table>
	  </md-card-content>
  </md-card>
  
	  
  </md-tab>
  <md-tab  label="{{tab2}}"><div [@toggle]="show" 
        (@toggle.start)="animationStarted($event)"
        (@toggle.done)="animationDone($event)"
     *ngIf="show" ><md-spinner style="margin:auto; margin-top:50px;"></md-spinner></div>
     
     	<div [@toggle]="!show" *ngIf="!show">
     <table cellspacing="0">
	  <tr>
	    <td>
		     <md-list-item>
				<md-input-container>
		      		<input mdInput placeholder="{{start_date_etap1}}" value="{{data_ger.start_date_etap1}}">
		    	</md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.end_date_etap1}}" placeholder="{{end_date_etap1}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    </tr>
	    <tr>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.start_date_etap2}}" placeholder="{{start_date_etap2}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.end_date_etap2}}" placeholder="{{end_date_etap2}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	 </tr>
	 <tr>
	 	<td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.ref_id_person}}" placeholder="{{ref_id_person}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.pm_god}}" placeholder="{{pm_god}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.pm_kvartal}}" placeholder="{{pm_kvartal}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	 </tr>
	 <tr>
	 	<td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.tel}}" placeholder="{{tel}}">
			    </md-input-container>
		    </md-list-item>
	 	</td>
	 	<td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.pm_result}}" placeholder="{{pm_result}}">
			    </md-input-container>
		    </md-list-item>
	 	</td>
	 	<td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_ger.pm_HOSPITAL_RESULT}}" placeholder="{{PM_HOSPITAL_RESULT}}">
			    </md-input-container>
		    </md-list-item>
	 	</td>
	 </tr>
	    </table>
	    
		    <md-list-item>
			    <md-input-container class="full-width">
			      <textarea mdInput placeholder="{{adress}}">{{data_ger.adress}}</textarea>
			    </md-input-container>
		    </md-list-item>
     </div>
     </md-tab>
  <md-tab  label="{{tab3}}">
  <div *ngIf="data_informir.length > 0; else other_content" >
  <table>
    <tr>
	    <td>
		     <md-list-item>
				<md-input-container>
		      		<input mdInput placeholder="{{surname}}" value="{{data_informir[0].fam}}">
		    	</md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_informir[0].im}}" placeholder="{{firstname}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_informir[0].ot}}" placeholder="{{lastname}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    </tr>
  </table>
  <table cellspacing="0" *ngFor="let data of data_informir">
	    <tr>
		    <td>
			    <md-list-item>
				    <md-input-container>
				      <input mdInput value="{{data.nStage}}" placeholder="{{nstage}}">
				    </md-input-container>
			    </md-list-item>
		    </td>
		    <td>
			    <md-list-item>
				    <md-input-container>
				      <input mdInput value="{{data.tInfo}}" placeholder="{{tinfo}}">
				    </md-input-container>
			    </md-list-item>
		    </td>
    	    <td>
			    <md-list-item>
				    <md-input-container>
				      <input mdInput value="{{data.dInfo}}" placeholder="{{dinfo}}">
				    </md-input-container>
			    </md-list-item>
		    </td>
	    </tr>
  </table>
  </div>
	  <ng-template #other_content>
	  	<div *ngIf="flag_informed; else date_note"><h1><md-spinner style="margin:auto; margin-top:50px;"></md-spinner></h1></div>
	  	<ng-template #date_note><md-error><h3>{{data_not_found}}</h3></md-error></ng-template>
	  </ng-template>
  </md-tab>
  <md-tab  label="{{_survey}}">
  <div *ngIf="data_survey.length > 0; else other_content_survey" >
  <!-- {{data_survey | json}} -->
  <table style="margin-top: 20px;">
    <tr>
	    <td>
		     <md-list-item>
				<md-input-container>
		      		<input mdInput placeholder="{{surname}}" value="{{data_survey[0][0]}}">
		    	</md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_survey[0][1]}}" placeholder="{{firstname}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    <td>
		    <md-list-item>
			    <md-input-container>
			      <input mdInput value="{{data_survey[0][2]}}" placeholder="{{lastname}}">
			    </md-input-container>
		    </md-list-item>
	    </td>
	    </tr>
  </table>
  <table cellspacing="0" *ngFor="let data of data_survey">
	    <tr>
		    <td>
			    <md-list-item>
				    <md-input-container>
				      <input mdInput value="{{data[6] == 2 ? _linksmo_2 : data[6] == 1 ? _linksmo_1 : data[6] == 4 ? _linksmo_4 : data[6]}}" placeholder="smo">
				    </md-input-container>
			    </md-list-item>
		    </td>
		    <td>
			    <md-list-item>
				    <md-input-container>
				      <input mdInput value="{{data[4] == 1 ? _statsurvey1 : data[4] == 2 ? _statsurvey2 : data[4] == 3 ? _statsurvey3 : data[4] == 4 ? _statsurvey4 : data[4] == 5 ? _statsurvey5 : data[4] == 6 ? _statsurvey6 : data[4] == 7 ? _statsurvey7 : data[4] == 8 ? _statsurvey8 : data[4] == 9 ? _statsurvey9 : data[4] == 10 ? _statsurvey10 : ''  }}" placeholder="{{_statsurvey_result}}">
				    </md-input-container>
			    </md-list-item>
		    </td>
    	    <td>
			    <md-list-item>
				    <md-input-container>
				      <input mdInput value="{{data[3] | date: 'dd.MM.yyyy' }}" placeholder="{{_statsurvey_date}}">
				    </md-input-container>
			    </md-list-item>
		    </td>
	    </tr>
	    <tr>
	    	<td colspan="3">
	    		<textarea rows="10" cols="45">{{data[5]}}</textarea>
	    	</td>
	    </tr>
  </table>
  </div>
  <ng-template #other_content_survey>
  	<div *ngIf="flag_survey; else date_not_found;"><h1><md-spinner style="margin:auto; margin-top:50px;"></md-spinner></h1></div>
  	<ng-template #date_not_found>
  		<md-error><h3>{{data_not_found}}</h3></md-error>
  		<md-card>
		<form [formGroup]="myFormsurvey" novalidate (ngSubmit)="add_survey(myFormsurvey);">
  			<md-card-content>
  				<md-input-container style="width: 70%; font-size: 25px;">
  					<input mdInput placeholder="{{_titlesurvey}}" value="{{_maintitlesurvey}}" disabled>
  				</md-input-container><br/>
  				<md-select  style="width: 40%;"  class='full-width required' placeholder="{{_statsurvey_result}}"  formControlName="result_survey">
		   				<md-option *ngFor="let data of resultsurvey" [value]="data.id">{{ data.name }}</md-option>
		   	  		</md-select><br>.
  					<br/>
	   				 <my-date-picker  [placeholder]="_statsurvey_date"  name="datesur" [options]="myDatePickerOptions" formControlName="datesur"></my-date-picker>
	   				 <span *ngIf="!myFormsurvey.controls.datesur.valid" class="help-block text-danger">
	   				 	<md-error>{{field_is_required}}</md-error>
	   				 </span> 
	   				 <textarea rows="10" cols="45"  formControlName="prim"></textarea>
  			</md-card-content>
  			<md-card-actions id='lastblocksearch'>
  				<button type='submit' md-raised-button color='primary'[disabled]="!myFormsurvey.valid">Ok</button>
  				<button type='button' md-raised-button color='primary' (click)="resetForm()">reset</button>
  	 		</md-card-actions>
		</form>
		</md-card>
  	<br>
  	{{myFormsurvey.value | json}}	
  		
  		
  		
  	</ng-template>
  </ng-template>
  </md-tab>
</md-tab-group>



<!-- <div style="margin-left: 20px;" md-dialog-actions> -->

<!-- </div> -->
