md-sidenav{
 overflow:hidden;
 border-radius: 5px;
}

md-sidenav.nav_header{
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in
}
.nav_header{
 width:95%;
}

 .example-card{
 padding:0;
}

/deep/ .h{
 box-shadow:
 				0 3px 1px -2px rgba(0, 0, 0, 0),
  				0 2px 2px 0 rgba(0, 0, 0, 0),
   				0 1px 5px 0 rgba(0, 0, 0, 0);

}



#lastblocksearch{
    margin-top: 90px;
    //margin-bottom: 100%;
}