<mat-card [@flyInOut]="'in'">
  <mat-sidenav-container >
    <mat-list>
      <mat-card-title>{{header_schedule}}</mat-card-title>
      <mat-card-header>
        <schedule-header (filterOut)="getNotify($event)"></schedule-header>
        <div style="position: absolute; right: 20px;">
          <button mat-raised-button matTooltip="Скачать данные из таблицы в формате эксель(.xlxs)" (click)="get()">Экспорт в эксель</button>
        </div>
      </mat-card-header>
    </mat-list>
  </mat-sidenav-container>

  <mat-card-content @questionsAnim>
    <mat-progress-bar  *ngIf="progress_bar"  mode="query" color="warn" ></mat-progress-bar>
    <mat-table [dataSource]="dataSource" class="full-width" style="text-align: center;">

      <ng-container matColumnDef="lpuId">
        <mat-header-cell *matHeaderCellDef> {{lpuId}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.lpuId}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="address">
        <mat-header-cell *cdkHeaderCellDef> {{destination_address}} </mat-header-cell>
        <mat-cell *cdkCellDef="let row">
          <div class="demo-progress-stat">{{row.address}}</div>
        </mat-cell>
      </ng-container>


      <ng-container cdkColumnDef="dateBegin">
        <mat-header-cell *cdkHeaderCellDef> {{dateBegin}} </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.dateBegin}} </mat-cell>
      </ng-container>


      <ng-container cdkColumnDef="dateEnd">
        <mat-header-cell *cdkHeaderCellDef> {{dateEnd}} </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.dateEnd}}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="timeBegin">
        <mat-header-cell *cdkHeaderCellDef> {{timeBegin}} </mat-header-cell>
        <mat-cell *cdkCellDef="let row" > {{row.timeBegin}}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="timeEnd">
        <mat-header-cell *cdkHeaderCellDef> {{timeEnd}} </mat-header-cell>
        <mat-cell *cdkCellDef="let row" > {{row.timeEnd}}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="typeMo">
        <mat-header-cell *cdkHeaderCellDef> {{typeMo}} </mat-header-cell>
        <mat-cell *cdkCellDef="let row" > {{row.typeMo}}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="prim">
        <mat-header-cell *cdkHeaderCellDef> {{prim}} </mat-header-cell>
        <mat-cell *cdkCellDef="let row" > {{row.prim}}</mat-cell>
      </ng-container>


      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  *cdkRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>


</mat-card>
