

<mat-toolbar color="primary">
  <div style="align-self: flex-end; padding-top:10px;">{{data.personSurname}} {{data.personKindfirstname}} {{data.personKindlastname}}</div>
  <span style="flex-grow: 1; font-size: 25px;">{{title}}</span>
  <mat-dialog-actions style="flex-grow: 0;">
    <button mat-raised-button color="accent" mat-dialog-close="Option 1">{{ close_card}}</button>
  </mat-dialog-actions>

</mat-toolbar>

<mat-tab-group mat-stretch-tabs color="primary" (selectedTabChange)="check($event)" >

  <mat-tab id="tab1" label="{{tab1}}">
    <mat-card>
      <mat-card-content>
        <table cellspacing="0">
          <tr>
            <td>
              <mat-list-item>
                <!-- <img mat-list-avatar src="app/list-prophylactic/icon/ic_account_box_black_48dp_1x.png" alt="Desc 1"> -->
                <mat-input-container>
                  <input matInput placeholder="{{surname}}" value="{{data.personSurname}}">
                </mat-input-container>
              </mat-list-item>
            </td>
            <td>
              <mat-list-item>
                <mat-input-container>
                  <input matInput value="{{data.personKindfirstname}}" placeholder="{{firstname}}">
                </mat-input-container>
              </mat-list-item>
            </td>
            <td>
              <mat-list-item>
                <mat-input-container>
                  <input matInput value="{{data.personKindlastname}}" placeholder="{{lastname}}">
                </mat-input-container>
              </mat-list-item>
            </td>
          </tr>
          <tr>
            <td>
              <mat-list-item>
                <mat-input-container>
                  <input matInput value="{{data.years}}" placeholder="{{t_years}}">
                </mat-input-container>
              </mat-list-item>
            </td>
            <td>
              <mat-list-item>
                <mat-input-container>
                  <input matInput value="{{data.personBirthday}}" placeholder="{{bithday}}">
                </mat-input-container>
              </mat-list-item>
            </td>
          </tr>
          <tr>
            <td>
              <mat-list-item>
                <mat-input-container>
                  <input matInput value="{{data.smo == 1 ?  _linksmo_1  : data.smo  == 2 ?  _linksmo_2  : data.smo  == 4 ?  _linksmo_4  : _otkreplen}}" placeholder="{{linksmo}}">
                </mat-input-container>
              </mat-list-item>
            </td>
            <td>
              <mat-list-item>
                <mat-input-container>
                  <input matInput value="{{data.enp == null ? '-' : data.enp}}" placeholder="Енп">
                </mat-input-container>
              </mat-list-item>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab id="tab2" label="{{tab2}}"><div [@toggle]="show" style="overflow: hidden;"
                                                *ngIf="show" ><mat-spinner style="margin:auto; margin-top:100px;"></mat-spinner></div>
    <mat-card [@toggle]="!show" *ngIf="!show">
      <mat-card-content>
          <mat-card *ngFor="let data_treatment of treats_data"  style="margin-bottom: 20px;margin-top: 20px; border: 2px solid;">
            <mat-card-content>
            <div  *ngIf="!show" style="margin: 5px; overflow: auto;">

                <div *ngIf="data_treatment.treat_types.length > 0; else no_treatment">
                  {{treat_type}}:
                  <mat-label *ngFor="let type of data_treatment.treat_types" style="border: 1px black;"> <b>{{type}};</b>  </mat-label>
                  <mat-label> Номер счета: <b>{{data_treatment.accountNumber}}</b></mat-label>
                  <mat-label> Дата счета: <b>{{data_treatment.accountDate}}</b></mat-label>
                </div>
                <ng-template #no_treatment>
                  <p>{{no_treatment_types}}.</p><!--Типы лечения отсутствуют.-->
                </ng-template>
                <table cellspacing="0" mat-table>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <mat-list-item>
                        <mat-input-container>
                          <input matInput  value="{{data_treatment.dateBegin}}" placeholder="{{t_date_begin}}">
                        </mat-input-container>
                      </mat-list-item>
                    </td>
                    <td>
                      <mat-list-item>
                        <mat-input-container>
                          <input matInput value="{{data_treatment.dateEnd}}" placeholder="{{t_date_end}}">
                        </mat-input-container>
                      </mat-list-item>
                    </td>
                    <td>
                      <mat-list-item>
                        <mat-input-container>
                          <input matInput value="{{data_treatment.mkb}}" placeholder="{{mkb}}">
                        </mat-input-container>
                      </mat-list-item>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-list-item>
                        <mat-input-container>
                          <input matInput value="{{data_treatment.lpuId}}" placeholder="{{lpu_name}}">
                        </mat-input-container>
                      </mat-list-item>
                    </td>
                    <td>
                      <mat-list-item>
                        <mat-input-container>
                          <input matInput value="{{data_treatment.otProfk}}" placeholder="{{ot_profk}}">
                        </mat-input-container>
                      </mat-list-item>
                    </td>
                    <td>
                      <mat-list-item>
                        <mat-input-container>
                          <input matInput value="{{data_treatment.mesKsg}}" placeholder="{{mes_ksg}}">
                        </mat-input-container>
                      </mat-list-item>
                    </td>
                  </tr>
                  <tr *ngIf="data_treatment.pat != null">
                    <td>
                      <mat-list-item>
                        <mat-input-container>
                          <input  matInput value="{{data_treatment.pat.sprRezobr.name}}" placeholder="Результат обращения">
                        </mat-input-container>
                      </mat-list-item>
                    </td>
                    <td>
                      <mat-list-item>
                        <mat-input-container>
                          <input matInput value="{{data_treatment.pat.prdn}}" placeholder="Диспансерное наблюдение">
                        </mat-input-container>
                      </mat-list-item>
                    </td>
                  </tr>
                  <tr *ngIf="data_treatment.hospcard != null">
                    <td>
                      <mat-list-item>
                        <mat-input-container>
                          <input matInput value="{{data_treatment.hospcard.result}}" placeholder="Результат обращения">
                        </mat-input-container>
                      </mat-list-item>
                    </td>
                  </tr>
                </table>
                  <mat-accordion>
                    <mat-expansion-panel style="border: 1px solid;" *ngIf="data_treatment.expertise; else  no_expertise_content">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{title_exp}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                        <div style="width: 100%; overflow: auto">
                          <mat-card style="background: #9ebfab;">
                            <mat-card-header>
                              <mat-card-title >{{cod_exp}}:{{data_treatment.expertise.examCodeInfo.expName.name}}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                              <div style="width: 100%; overflow: auto" class="td-back">
                                <mat-list-item >
                                  <mat-label>{{exam_date}}:  </mat-label>
                                  <mat-label>{{data_treatment.expertise.examDate}}</mat-label>
                                </mat-list-item>
                                <mat-list-item >
                                  <mat-label>{{exam_code}}:  </mat-label>
                                  <mat-label>{{data_treatment.expertise.examCodeInfo.nameExp}}</mat-label>
                                </mat-list-item>
                                <mat-list-item *ngIf="data_treatment.expertise.defInfo != null">
                                    <mat-label>{{def_main}}:  </mat-label>
                                    <mat-label>{{data_treatment.expertise.defInfo.id}} - {{data_treatment.expertise.defInfo.nameDef}}</mat-label>
                                </mat-list-item>
                                <div *ngIf="data_treatment.expertise.defects.length > 0; else no_defects">
                                  <mat-label>Дефекты: </mat-label>
                                  <mat-list-item *ngFor="let defect of data_treatment.expertise.defects">
                                    <mat-label>{{defect.defectInfo.id}} - {{defect.defectInfo.nameDef}}</mat-label>
                                  </mat-list-item>
                                </div>
                                <ng-template #no_defects>
                                  <mat-label>Дефекты отсутствуют.</mat-label>
                                </ng-template>
                              </div>
                            </mat-card-content>
                          </mat-card>
                        </div>
                    </mat-expansion-panel>
                    <ng-template #no_expertise_content>
                      {{no_expertise}}
                    </ng-template>
                  </mat-accordion>
              </div>
            </mat-card-content>
          </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>




<!-- <div style="margin-left: 20px;" mat-dialog-actions> -->

<!-- </div> -->
