/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
   

body {
   // padding: 2em 23em;
    background:#c5d5cb;
}
 /*
 @import url('https://fonts.googleapis.com/css?family=Muli:400,700');
 body {
    background:#e8e8e8;
    font-family: 'Muli';
}*/