<md-card class="example-card" [@flyInOut]="'in'">
<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm);resetForm()">
<md-card-title>Add Question</md-card-title>
  <md-card-header>
      <md-card-title>
			<md-input-container>
  	   			<input mdInput [mdDatepicker]="picker" placeholder="Date response" formControlName="date_response">
  	   			<button mdSuffix [mdDatepickerToggle]="picker"></button>
	   		</md-input-container>
	   <md-datepicker #picker></md-datepicker>       
      </md-card-title>
  </md-card-header>
   <md-card-content formArrayName="questions_list">
      <md-list *ngFor="let question of myForm.controls.questions_list.controls; let i=index">
     <p  [formGroupName]="i" @questionsAnim>
      
      	  <md-select  class='full-width required' placeholder="{{questions_rest[i].question}}" formControlName="question">
	   		<md-option *ngFor="let typeanswer of questions_rest[i].typeOfResponse" [value]="typeanswer.id">{{ typeanswer.type_response }}</md-option>
	   	  </md-select>
	   	  
	   	
      </p>
      <!-- <p>Form value: {{ myForm.value | json }}</p> 
      <p>Form status: {{ myForm.status | json }}</p> -->
      </md-list>
   </md-card-content>
	  
  	 <md-card-actions>
  		<button type='submit' md-raised-button color='primary'[disabled]="!myForm.valid">Send</button>
  		<button type='button' md-raised-button color='primary' (click)="resetForm()">Reset</button>
  	 </md-card-actions>
  </form>
</md-card>
