<div id="container" [@listAnimation]="items.length">

    <button (click)="pushItem()">Add item</button> 
    <button (click)="removeItem()">Remove item</button>
    
    <div id="list" *ngFor="let item of items">
      <label>{{ item }}</label>
      <input type="checkbox">
      
    </div>

    <div @explainerAnim>
      <div class="col">
        <p>I think Coursetro is one of the best learning resources online for Angular</p>
      </div>
      <div class="col">
        <p>I think Coursetro is one of the best learning resources online for Angular</p>
      </div>
      <div class="col">
        <p>I think Coursetro is one of the best learning resources online for Angular</p>
      </div>
  </div>
  </div>
  
  
  
  <md-toolbar color="primary" id="questions">
    <span>MyCompany</span>
    <span class="example-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
  </md-toolbar>
  <md-menu #appMenu="mdMenu">
  	<button md-menu-item> Settings </button>
  	<button md-menu-item> Help </button>
  </md-menu>
  
<md-card class="example-card">
<form #resultQuestionForm="ngForm" (ngSubmit)="onSubmit(resultQuestionForm)">
<md-card-title>Add Question</md-card-title>
  <md-card-header>
      <md-card-title>
      </md-card-title>
  </md-card-header>
   <md-card-content>
      <md-list>
     <p *ngFor="let question of questions_rest ">
      
      	  <md-select  class='full-width' placeholder="{{ question.question }}">
	   		<md-option *ngFor="let typeanswer of question.typeOfResponse" [value]="typeanswer.id">{{ typeanswer.type_response }}</md-option>
	   	  </md-select>
	   	
      </p> 
      </md-list>
   </md-card-content>
	  
  	 <md-card-actions>
  		<button md-raised-button color='primary'>Send</button>
  	 </md-card-actions>
  </form>
</md-card>
      
