#container {
    padding:1em;

    #list {
        padding:1em;
        display:block;
        background:#fff;
        margin-bottom:10px;
    }

    button {
        border:none;
        margin-bottom:20px;
        padding:10px;
        background: blueviolet;
        color: #fff;
    }

    .col {
        width:33%;
        display:inline-block;
        padding:40px 0;
        color:gray;
    }
}

/*#questions {
    width:70%;
    margin:auto;
}*/

md-card {
  margin: 15px;
}
md-card-title {
  margin-bottom: 50px;
}
md-card-actions {
  margin-bottom: 0px;
}
md-select{
margin: 5px;
}
.question-form {
  width: 90%;
}
.full-width {
  width: 100%;
}


